- name: Install packages
  apt:
    name:
      - htop
      - ntp
      - tmux
      - caffeine
      - vlc
      - gnome-shell-extension-prefs
      - gnome-shell-extension-manager
      - gedit-plugins
      - gnome-tweaks
      - gnome-sushi
      - gnome-session
      - chrome-gnome-shell
      - freeipa-client
      - ubuntu-restricted-extras
      - sssd-tools
      - syncthing
      - gh
      - python3-pip
      - python3-psutil
      - solaar
    when: ansible_distribution == "Ubuntu"

- name: Install packages
  snap:
    name:
      - bitwarden
      - discord
    when: ansible_distribution == "Ubuntu"
    
- name: Install Packages
  dnf:
    name:
      - htop
      - tmux
      - vlc
      - freeipa-client
      - syncthing
      - gh
      - solaar
      - gnome-shell-extension-dash-to-dock
      - gnome-shell-extension-caffeine
      - gnome-tweaks
    state: present
    when: ansible_distribution in ["Fedora"]
