- name: Install packages
  apt:
    name:
      - htop
      - ntp
      - tmux
      - caffeine
      - vlc
      - gnome-shell-extension-prefs
      - gnome-shell-extension-manager
      - gedit-plugins
      - gnome-tweaks
      - gnome-sushi
      - gnome-session
      - chrome-gnome-shell
      - freeipa-client
      - ubuntu-restricted-extras
      - sssd-tools
      - syncthing
      - gh
      - python3-pip
      - python3-psutil
      - solaar
      - flatpak

- name: Install packages
  snap:
    name:
      - bitwarden
      - discord

- name: Add Flathub repository
  community.general.flatpak_remote:
    name: termix
    state: present
    method: user
    flatpakrepo_url: https://github.com/Termix-SSH/Termix/releases/latest/download/termix_linux_flatpak.flatpak

- name: Install a Flatpak application 
  community.general.flatpak:
    name: termix_linux_flatpak.flatpak
    state: present
    method: user
    remote: termix
  become: yes
